<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.red_folder.phonegap.plugin.backgroundservice.sample"
        version="0.1">

    <name>Background Service Plugin - Sample Background Service</name>

    <description>
        Sample service to demonstrate the use of the Cordova Android Background Service
    </description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

	<asset src="www/MyService.html" target="MyService.html" />
	
    <js-module src="www/myService.js" name="MyService">
        <clobbers target="window.plugins.MyService" />
    </js-module>
    
	<!-- Load in the core background service -->
	<dependancy id="com.red_folder.phonegap.plugin.backgroundservice" url="https://github.com/Red-Folder/bgs-core" />
	
    <!-- android -->
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
  
            <service android:name="com.red_folder.phonegap.plugin.backgroundservice.sample.MyService">
                <intent-filter>         
                    <action android:name="com.red_folder.phonegap.plugin.backgroundservice.sample.MyService"/> 
                </intent-filter>     
            </service>
            
        </config-file>
        
        <source-file src="src/android/*" target-dir="src/com/red_folder/phonegap/plugin/backgroundservice/sample" />
    </platform>

</plugin>